body {
  max-width: 768px;
  margin: 0 auto;
  font-family: "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
  color: rgb(53, 56, 57);  /* onyx */
  background-color: rgb(255, 255, 240);  /* ivory */
}

h1 {
  font-family: "Noto Serif", Georgia, Garamond, Times, serif;
}

.header-content {
  border-bottom: 1px solid #222;
  margin: 0 1em 1rem 1em;
}

main {
  margin: 0 1em;
}

footer {
  text-align: right;
  border-top: 1px solid #222;
  margin: 1rem 1em 3em 1em;
}

p {
  line-height: 150%;
}

main a {
  color: rgb(53, 56, 57);
  text-decoration: underline;
}

main a:hover {
  color: #00e;
}

a.active {
  font-weight: bold;
}

.ul-inline {
  display: inline-block;
}

.ul-inline li {
  display: inline-block;
}

.ul-inline li:after {
  content: ' — ';
}

.ul-inline li:last-child:after {
  content: '';
}

.highlight pre {
  overflow-x: auto;
  overflow-y: hidden;
}
