body {
  max-width: 768px;
  /* width: 35em; */
  margin: 0 auto;
  margin-bottom: 3em;
  font-family: "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
  color: rgb(53, 56, 57);  /* onyx */
  /* color: #222; */
  background-color: rgb(255, 255, 240);  /* ivory */
}

h1 {
  font-family: "Noto Serif", Georgia, Garamond, Times, serif;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  text-align: right;
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

.post-list {
  text-decoration: underline;
}

.ul-inline {
  display: inline-block;
}

.ul-inline li {
  display: inline-block;
}

.ul-inline li:after {
  content: ' — ';
}

.ul-inline li:last-child:after {
  content: '';
}

main {
  line-height: 150%;
}
